<p>contacts works!</p>
<!-- 
<div *ngFor="let user of registeredUsersData">
    <p (click)="SelectUser(user)">{{user.Username}}</p>
</div> -->
<input [(ngModel)]="number" placeholder="Send Message" />
<input [(ngModel)]="message" placeholder="Message" />
<button (click)="send()">Submit</button>

<!-- Sharer Side -->
<button (click)="startScreenShare()">Start Sharing</button>
<p>Room ID: {{ roomId }}</p>

<!-- Viewer Side -->
<input type="text" [(ngModel)]="joinRoomId" placeholder="Enter Room ID" />
<button (click)="joinScreenShare(joinRoomId)">Join Screen Share</button>

<!-- Video Views -->
<video #localVideo autoplay muted></video>
<video #remoteVideo autoplay></video>


